bin/
obj/
work/
output/
!work/.gitkeep
!output/.gitkeep
artifacts/
dist/
wiimms/
.android-sdk/
.android-jdk/
publish/
*.user
data/mods/*
!data/mods/.gitkeep
games/*.iso
games/*.wbfs
games/*.ciso
games/*.wdf
games/*.wia
